<div class="slideshow-container">
  <div class="slideshow" data-transition="fade">
    <input
      type="radio"
      name="ss2"
      id="ss2-item-1"
      class="slideshow-bullet"
      checked="checked"
    />
    <div class="slideshow-item">
      <img src="assets/img/slide/slide-1.png" />
      <label for="ss2-item-2" class="slideshow-nav slideshow-nav-anterior"
        >Go to slide 2</label
      >
      <label for="ss2-item-2" class="slideshow-nav slideshow-nav-proximo"
        >Go to slide 2</label
      >
    </div>

    <input type="radio" name="ss2" id="ss2-item-2" class="slideshow-bullet" />
    <div class="slideshow-item">
      <img src="assets/img/slide/slide-2.png" />
      <label for="ss2-item-1" class="slideshow-nav slideshow-nav-anterior"
        >Go to slide 1</label
      >
      <label for="ss2-item-1" class="slideshow-nav slideshow-nav-proximo"
        >Go to slide 1</label
      >
    </div>
  </div>
</div>
