<div class="produto-descricao-wrapper">
  <div class="produto-descricao-header">
    <p>Produtos / Tênis / Feminino</p>
    <h3>Tênis Nike Revolution 5 - Feminino</h3>
  </div>

  <div class="produto-descricao-galeria-lateral">
    <div class="produto-descricao-galeria-lateral-fotos">
      <img
        src="assets/img/produtos/tenis/tenis-branco.png"
        alt="Tênis Nike Revolution 5 - Feminino"
      />
    </div>
    <div class="produto-descricao-galeria-lateral-fotos">
      <img
        src="assets/img/produtos/tenis/tenis-branco.png"
        alt="Tênis Nike Revolution 5 - Feminino"
      />
    </div>
    <div class="produto-descricao-galeria-lateral-fotos">
      <img
        src="assets/img/produtos/tenis/tenis-branco.png"
        alt="Tênis Nike Revolution 5 - Feminino"
      />
    </div>
    <div class="produto-descricao-galeria-lateral-fotos">
      <img
        src="assets/img/produtos/tenis/tenis-branco.png"
        alt="Tênis Nike Revolution 5 - Feminino"
      />
    </div>
  </div>

  <div class="produto-descricao-galeria-principal">
    <img
      src="assets/img/produtos/tenis/tenis-branco.png"
      alt="Tênis Nike Revolution 5 - Feminino"
    />
  </div>

  <div class="produto-descricao-info">
    <div class="produto-descricao-preco">
      <span class="produto-descricao-preco-antigo">R$319,99</span>
      <p class="produto-descricao-preco-atual">219,99</p>
      <p class="produto-descricao-cor">COR: Branco</p>
      <p class="produto-descricao-tamanho">TAMANHO</p>
      <a class="produto-descricao-tamanho-btn">36</a>
    </div>

    <div class="produto-descricao-promo-box">
      <p>Promoção disponível para este produto!</p>
      <p class="produto-descricao-promo-box-normal">
        Na compra de 2 unidades pague apenas o valor de 1
      </p>
      <p>100% DE DESCONTO NA COMPRA DO TERCEIRO</p>
    </div>
    <div class="produto-descricao-btn">
      <a class="produto-descricao-cta" routerLink="/carrinho">COMPRAR</a>
    </div>
  </div>
</div>
