$green: #2bb20b;
$white: #fff;
$lightGray1: #f7f7f7;
$lightGray2: #828282;
$lightGray3: #808080;
$darkGray: #333333;
$darkShadow: #00000029;
$darkHover: #0000004a;

.card-container {
  padding: 40px 20px 16px;
  cursor: pointer;
  background: $white;
  border-radius: 10px;
  box-shadow: 0px 2px 3px $darkShadow;
  position: relative;
  height: 100%;
  border: 1px solid $lightGray1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.card-container:hover {
  box-shadow: 0px 6px 12px $darkHover;
}
.card-container:hover .card-cta {
  background: $green;
  color: $white;
}

.card-titulo {
  text-align: left;
  color: $darkGray;
}

.card-preco-antigo {
  text-decoration: line-through;
  color: $lightGray3;
  font-size: 0.75rem;
  margin-right: 10px;
}

.card-preco-atual {
  color: $darkGray;
  font-weight: 600;
  font-size: 1rem;
}

.card-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  color: $green;
  background: $white;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;

  &:hover {
    background: $green;
    color: $white;
  }
}

.card-promo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background: $lightGray2;
  color: $white;
  padding: 8px 16px;
  text-transform: uppercase;
  text-align: center;
}

img {
  width: 100%;
}
