$white: #fff;
$green: #2bb20b;
$yellow: #f08d06;
$grayText: #5b5b5b;
$darkGray: #333333;
$lightGray3: #808080;
$lightGray5: #545454;
$lightGray8: #434343;
$lightGray9: #ebebeb;
$lightGray10: #676767;
$lightGray11: #878787;

p {
  color: $lightGray5;
  font-size: 0.8125rem;
  margin-bottom: 5px;
}

/* CARRINHO VAZIO */
.carrinho-vazio-container {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.carrinho-vazio {
  font-weight: 600;
  font-size: 1.25rem;
  color: $grayText;
}

/* CARRINHO CHEIO */

tr {
  text-align: center;

  th {
    font-weight: normal;
    font-size: 1.125rem;
    color: $lightGray8;
  }
}

td {
  border-top: 1px solid #e6e6e6;
  padding: 12px 0;
}

.table {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.main {
  color: $lightGray8;
  .label {
    font-weight: bold;
  }

  .value {
    font-weight: bold;
    font-size: 1.25rem;
    color: $green;
  }
}

.carrinho-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 30px;
  align-items: start;
}

.carrinho-item-imagem {
  text-align: left;

  img {
    width: 100%;
    max-width: 30%;
    min-width: 150px;
  }

  > .content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .produto-nome {
    font-weight: 600;
    font-size: 0.875rem;
    color: $darkGray;
  }
}

.carrinho-item-quantidade {
  width: 10%;

  .input-field {
    height: 30px;
    display: flex;
    justify-content: center;

    input {
      height: 100%;
      width: 40px;
      border: $grayText;
      border: 1px solid #c8c8c8;
      padding: 0 2px;
      text-align: center;
    }

    button {
      height: 100%;
      text-align: center;
      padding: 4px 8px;
      background: white;
      outline: none;
      border: 1px solid #c8c8c8;
    }
  }
}

.carrinho-item-preco {
  width: 20%;
}

.carrinho-item-precos,
.carrinho-item-total-precos {
  text-decoration: line-through;
  font-size: 0.75rem;
  text-align: center;
  color: $lightGray3;
}

.carrinho-item-precos-bold {
  font-weight: 600;
  font-size: 1rem;
}

.carrinho-item-total {
  width: 20%;
}

.container-resumo {
  width: 100%;
  max-width: 300px;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  .card-titulo-resumo {
    font-weight: normal;
    font-size: 1.125rem;
    color: $lightGray8;
  }

  .content-body-resumo {
    background: $lightGray9;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .content-item-resumo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-resumo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.container-btn-limpar {
  display: flex;
  justify-content: flex-end;
}

/* BOTÕES */
.btn-remover {
  background: transparent;
  margin-top: 10px;
  border: none;
  text-decoration: underline;
  color: $lightGray11;
}

.card-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 1px solid $green;
  color: $white;
  background: $green;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;

  &:hover {
    background: $white;
    color: $green;
  }
}

.card-cta.warning {
  color: $yellow;
  background: transparent;
  border: 1px solid $yellow;

  &:hover {
    color: $white;
    background: $yellow;
  }
}

/* Remover setas do interior do input */
//Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
//Firefox
input[type="number"] {
  -moz-appearance: textfield;
}
