/* RESET CSS */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

app-root,
body,
html {
  height: 100vh;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #1987e8;
}

button {
  cursor: pointer;
}

/* SIDENAV */
