$darkGray: #333333;

.subtitulo {
  color: $darkGray;
  font-size: 1.125rem;
  text-align: left;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-content: stretch;
  align-items: stretch;
}
