<nav class="sidenav" aria-label="primária">
  <img
    src="/assets/img/siteware-logo.png"
    alt="logotipo shoesware"
    width="60px"
    style="margin-bottom: 60px"
  />
  <ul>
    <li>
      <a routerLinkActive="active" routerLink="/home">
        <img src="assets/icons/home.svg" width="30px" />
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/tenis">
        <img src="assets/icons/tenis.svg" width="30px" />
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/meias">
        <img src="assets/icons/meia.svg" width="35px" />
      </a>
    </li>
  </ul>
</nav>
